<section class="container-fluid">
    <div class="container p-0 pages z-3 ">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center card_invait rounded-4 py-4 p-2 text-secondary">
                <h1 class="mb-3 fw-bold fs-5">ATENÇÃO Á CONVOCAÇÃO DAS PRINCESAS</h1>
                <h4 class="fs-5 fw-bolder">Melissa & Manuela</h4>
                <p class="text-primary mb-0 fs-5 fw-semibold">22 de maio 2024, às 19h</p>
                <p class="mb-1 fs-6">Convocamos todos os príncipes e princesas dos reinos vasinhos para nosso aniversário de</p>
                <p class="fs-3 fw-bold py-2">1 ANINHO</p>
                <p class="text-primary fw-bold fs-5 cursor_pointer"><i class="fa-solid fa-location-dot me-2"></i>Ver endereço</p>
                <button class="btn btn-primary fw-semibold ">Proximo</button>
            </div>
        </div>
    </div>
</section>