section {
    background-image: url(../../../../assets/img/capa-7.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

section {
    height: 100vh;
}

.card_invait {
    width: 100%;
    max-width: 680px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}